{% extends 'adminbase.html.twig' %}

{% block title %}Category Home Page{% endblock %}

{% block body  %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="col-md-3">
                <a class="btn btn-block btn-info" href="{{ path('admin_category_new') }}">Create New Category</a>
                </div><br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Parentid</th>
                            <th>Title</th>
                            <th>Keywords</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.parentid }}</td>
                                <td>{{ category.title }}</td>
                                <td>{{ category.keywords }}</td>
                                <td>{{ category.description }}</td>
                                <td>{{ category.image }}</td>
                                <td>{{ category.status }}</td>
                                <td>
                                    <a class="btn btn-block btn-info" href="{{ path('admin_category_show', {'id': category.id}) }}">show</a>
                                </td>
                                <td>
                                    <a class="btn btn-block btn-info" href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>


    {% endblock %}
