<div id="wrapper">
    <header>
        <!-- Navbar
      ================================================== -->
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/"><img src="{{ asset ('assets') }}/img/logo.png" alt="" /></a>
                    </div>
                    <!-- end logo -->

                    <!-- top menu -->
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li class="active">
                                    <a href="/"><i class="icon-home"></i> Home </a>
                                </li>
                                <li class="dropdown">
                                    <a href="/about"><i class="icon-book"></i> About Us <i class="icon-angle-down"></i></a>
                                </li>
                                <li>
                                    <a href="/contact"><i class="icon-envelope-alt"></i> Contact</a>
                                </li>

                                {% if app.user %}
                                    <li>
                                        <a href="/user"><img src="{{ asset('uploads') }}/images/{{ app.user.image }}" class="img-xs rounded-circle" style="height: 30px"  >
                                            {{ app.user.name }} {{ app.user.surname }}
                                        </a>
                                    </li>
                                    <li><a href="/logout"><i class="icon-lock"></i>Logout</a> </li>
                                {% else %}
                                    <li>
                                        <a href="/loginuser"><i class="icon-lock"></i>Login </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- end menu -->

                </div>
            </div>
        </div>

    </header>

